<div class="col-xl-4 col-sm-6">
  <div class="card card-default">
    <div class="card-header">
      <div class="header-block">
        <p class="title"> {{ slide.title }} </p>
      </div>
    </div>
    <div class="card-block">
      <p>{{ slide.description }}</p>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-xs-12">
          <a ng-href="/app/live_slide/{{slide.slug}}" class="btn btn-oval btn-secondary btn-block">Ver</a>
        </div>
      </div>
    </div>
  </div>
</div>
