<article class="content cards-page" ng-controller="showSlidesLive">
  <div class="title-block">
    <h3 class="title"> Presentaciones en vivo </h3>
    <p class="title-description"> Puedes ver todas las presentaciones en vivo transmitidas por otros usuarios </p>
  </div>

  <section class="section">
    <div class="row">

      <div class="col-xl-4" ng-repeat="slide in slides track by slide.id">
        <div class="card card-default">
          <div class="card-header">
            <div class="header-block">
              <p class="title"> {{ slide.title }} </p>
            </div>
          </div>
          <div class="card-block">
          <p>{{ slide.description }}</p>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-xs-12">
                <a ng-href="/app/live_slide/{{slide.slug}}" class="btn btn-oval btn-secondary btn-block">Ver</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</article>
