<article class="content cards-page" ng-controller="showSlidesLive">
  <div class="title-block">
    <h3 class="title"> Presentaciones en vivo </h3>
    <p class="title-description"> Puedes ver todas las presentaciones en vivo transmitidas por otros usuarios </p>
  </div>

  <section class="section">
    <div class="row">

      <card-slide slide="slide" ng-repeat="slide in slides track by slide.id"></card-slide>

    </div>
  </section>
</article>
