

.card-slide{
 .card-header{
   .header-block{
     width: 100%;
   }
 }

  .card-block{
    height: 125px;
  }
}


.nav-profile{
  .profile{
    .img{
      height: 40px !important;
      width: 40px !important;
      background-color: white !important;
      color: #3a4651 !important;
      border-radius: 50% !important;

      .icons{
        line-height: 37px;
      }
    }
  }
}

.auth{
  background-color: black;


  .auth-title{
    padding: 10px 20px;
    color: #3a4651;
    text-align: center;

    .logo.logo_slide_remote{
      width: 50px;
      height: 59px;
      img{
        //background-color: #e76901;
        width: 100%;
      }
    }
  }

  .auth-container{
    box-shadow: -5px 11px 9px 5px rgba(0, 0, 0, 0.08);

    .card{
      margin-bottom: 0px;
    }
  }

  &:before {
    content: "";
    background-image: url("/images/backgrounds/bg-presentations.png");
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: 0;
    background-position: 50%;
    background-size: cover;
    opacity: 0.3;
  }
}

.brand{
  //#3a4651

  .logo.logo_slide_remote{
    height: 75px;

    img{
      width: 100%;
    }
  }
}

@media (max-width: 767px){
  .auth-container{
    width: 80%;
    margin: 50px auto;

  }
}
