<div class="admin-control" ng-class="{active : activated}">

  <div class="button_control" ng-click="openPanel()">
    <i class="icons" ng-class="{'icon-arrow-right' : !activated, 'icon-arrow-left': activated}"></i>
  </div>

  <div class="control_panel">
    <div class="wrapper-users">
      <div class="content content-users">
        <div class="title-users">Espectadores <span class="amount-spectators">{{slide.activeUsers.length}}</span></div>
        <div class="list-users">

          <div class="panel-user" ng-repeat="spectator in slide.activeUsers track by spectator.id">
            <div class="display-table">
              <div class="img-user btn-circle">
                <i class="icon-user icons"></i>
              </div>
              <div class="name-user"> {{spectator.username }}</div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="wrapper-button" ng-if="user.id == author.id">

      <span class="button-icons" ng-click="goHome()">
        <i class="icons icon-home"></i>
        <span class="text-title">Home</span>
      </span>

      <span class="button-icons" ng-if="!slide.published" ng-click="goEdite()">
        <i class="icons icon-pencil"></i>
        <span class="text-title">Editar</span>
      </span>

      <span class="button-icons" ng-click="publishSlide()">
        <i class="icons" ng-class="{'icon-cloud-upload': !slide.published, 'icon-cloud-download': slide.published }"></i>
        <span ng-if="!slide.published" class="text-title">Publicar</span>
        <span ng-if="slide.published" class="text-title">Despublicar</span>
      </span>

    </div>
    <div class="wrapper-button" ng-if="user.id != author.id">

      <span class="button-icons" ng-click="goHome()">
        <i class="icons icon-home"></i>
        <span class="text-title">Home</span>
      </span>


      <span class="button-icons" ng-click="exitSlide()">
        <i class="icons icon-close"></i>
        <span class="text-title">Salir</span>
      </span>

    </div>
  </div>

</div>
