<div class="reveal layout_1">

  <!-- Any section element inside of this container is displayed as a slide -->
  <%- document.slide.template %>

  <aside class="controls" style="display: block;">
    <button class="navigate-left enabled"  ng-click="prevSlide()" aria-label="previous slide"></button>
    <button class="navigate-right enabled" ng-click="nextSlide()" aria-label="next slide"></button>
    <button class="navigate-up" aria-label="above slide" disabled="disabled"></button>
    <button class="navigate-down" aria-label="below slide" disabled="disabled"></button>
  </aside>

</div>


<admin-control slide="slide" author="author" user="user" ng-init="initSlide('<%= document.slide.id %>','<%= document.slide.slug %>')" ></admin-control>
