
.reveal{
  .slides{
    width: 960px;
    height: 700px;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translate(-50%, -50%) scale(0.840686);
  }

  .controls{
    .navigate-left{
      left: 0px;
    }
  }
}
