
.reveal{
  .slides{
    width: 960px;
    height: 700px;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translate(-50%, -50%) scale(0.840686);
  }

  .controls{
    .navigate-left{
      left: 0px;
    }
  }
}

.admin-control{
  position: absolute;
  top: 0px;
  height: 100%;
  font-size: 18px !important;
  z-index: 100;
  left: -320px;
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
  font-family: "Source Sans Pro", Helvetica, sans-serif;

  .content{
    padding: 10px 15px;
  }

  .btn{
    cursor: pointer;
  }

  &.active{
    left: 0px;
    .button_control{
    }
  }

  .button_control, .control_panel{
    float: right;
  }

  .button_control{
    display: table;
    height: 100%;
    width: 30px;
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: 0.5s; /* Safari */
    transition: 0.5s;
    color: white;

    i{
      padding-left: 7px;
      vertical-align: middle;
      display: table-cell;
    }

    &:hover{
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.15);
    }
  }

  .control_panel{
    height: 100%;
    width: 320px;
    background-color: white;
    color : #222;

    .wrapper-users{
      height: 90%;
      width: 100%;
      background-color: #f7f7f7;

      .content-users{
        padding-top: 15px;
        height: 95%;

        .title-users{
          font-size: 20px;
          position: relative;

          &:before{
            content: "";
            height: 1px;
            width: 100%;
            position: absolute;
            bottom: -15px;
            background-color: #cac6c6;
          }

          .amount-spectators{
            right: 0px;
            position: absolute;
          }
        }

        .list-users{
          height: 95%;
          width: 100%;
          position: relative;
          margin-top: 30px;
          overflow-x: hidden;
          overflow-y: auto;
          margin-left: -15px;
          padding-left: 15px;
          padding-right: 15px;

          .panel-user{
            background-color: rgb(251, 251, 251);
            box-shadow: 1px 0px 5px #d8d8d8;
            margin: 10px 0px 10px 0px;
            position: relative;
            padding: 10px 15px;
            display: block;

            .display-table{
              width: 100%;
              display: table;
            }

            .btn-circle{
              width: 40px;
              height: 40px;
              padding: 2px 4px;
              border-radius: 39px;
              text-align: center;
              font-size: 18px;
              line-height: 2.5;
            }

            .name-user,.img-user{
              display: table-cell;
            }

            .img-user{
              background-color: #222222;
              color: white;
              border: 2px solid #dcdcdc;
            }
            .name-user{
              text-align: left;
              padding-left: 15px;
            }
          }
        }
      }
    }
  }

}

.wrapper-button{
  height: 10%;
  width: 100%;
  text-align: center;
  display: table;

  .button-icons{
    padding: 23px 14px;
    display: table-cell;
    text-decoration: none;
    color: #222222;

    .text-title{
      color: #1b1b1b;
      font-size: 16px;
      margin-left: 3px;
    }

    i{
      font-size: 20px;
    }

    &:hover{
      cursor: pointer;
      background-color: rgba(238, 238, 239, 0.5);
      color: #636363;
      .text-title{
        color: #222222;
      }
    }
  }

  .btn-success{
    background-color: #42affa;
    color: white;
    width: 200px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    margin-top: 15px;
  }
}


